@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rubik:wght@900&display=swap");
:root {
  --font-menu: "Anton", sans-serif;
  --menu-cyan: #7cb9e8;
  --menu-green: #03c03c;
  --menu-blue: #0039a6;
  --menu-red: #ef0107;
  --dark-blue: #0e294b;
  --dark-blue80: rgba(14, 41, 75, 0.8);
  --btn-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.75);
  --text-shadow: -3px 2px 2px rgba(0, 0, 0, 1);
}

button {
  border: none;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
}

/* Comunes */
.mini-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  box-shadow: var(--btn-shadow);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.mini-btn:hover {
  box-shadow: none;
  transform: scale(0.9);
}

.red {
  background-color: var(--menu-red);
  color: white;
}

.green {
  background-color: var(--menu-green);
  color: white;
}

.cyan {
  background-color: var(--menu-cyan);
  color: white;
}

.blue {
  background-color: var(--menu-blue);
  color: white;
}

/* Logo */
.header {
  margin-bottom: 10rem;
}

.header__container {
  position: relative;
}

.header h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 4em;
  text-shadow: -1px 1px 0px #752319, 1px 1px 0px #752319, 1px -1px 0px #752319,
    -1px -1px 0px #752319, 10px 10px 0px #752319, 9px 9px 0px #752319,
    8px 8px 0px #752319, 7px 7px 0px #752319, 6px 6px 0px #752319,
    5px 5px 0px #752319, 4px 4px 0px #752319, 3px 3px 0px #752319,
    2px 2px 0px #752319, 1px 1px 0px #752319, 0 0 #752319;
}

/* Menu */
#menu {
  width: 90%;
  max-width: 450px;
  height: 90%;
  display: grid;
  grid-template-rows: 1.5fr 4fr auto;
}

.menu__items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.large-btn {
  font-family: var(--font-menu);
  font-size: 3rem;
  text-shadow: var(--text-shadow);
  -webkit-text-stroke: 1px black;
  color: white;
  text-transform: uppercase;
  width: 200px;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.large-btn:hover {
  box-shadow: none;
  transform: scale(0.9);
}

/* Config btn */
#modal__config--abrir {
  display: none;
}

#modal__config--abrir:checked ~ #modal__config {
  top: 0;
}

/* Modal Config */
#modal__config {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.3s;
}

.config__container {
  background-color: var(--menu-cyan);
  width: 70%;
  max-width: 300px;
  height: 30%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: var(--btn-shadow);
  display: flex;
  padding: 4rem 2rem;
}

.config__container p {
  font-family: var(--font-menu);
  font-size: 3rem;
  text-shadow: var(--text-shadow);
  letter-spacing: 0.2rem;
  position: relative;
}

/* Cerrar modal btn */

#modal__config--cerrar {
  display: none;
}

#modal__config--cerrar + label {
  position: absolute;
  top: -1em;
  right: -1em;
  transform: rotate(30deg);
  z-index: 1;
}

#modal__config--cerrar + label:hover {
  transform: rotate(-30deg);
  box-shadow: none;
  transform: scale(0.9);
}
